<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Board</title>
  </head>
  <body>
    <table>
      <tr>
        <th>작성자</th>
        <th>제목</th>
        <th>등록일자</th>
      </tr>
      <tr>
        <td>aaa</td>
        <td>bbbbb</td>
        <td>2023. 01. 17.</td>
      </tr>
    </table>
  </body>
</html>
