<%- include("./include/header.ejs") %>
<h2><%= title %></h2>
<form action="/loginOk" method="get">
  <div>아이디 : <input type="text" name="userId" /></div>
  <div>비밀번호 : <input type="password" name="userPwd" /></div>
  <div>
    <label
      ><span>남자</span><input type="radio" name="gender" value="male" /></label
    ><label
      ><span>여자</span><input type="radio" name="gender" value="female"
    /></label>
  </div>
  <input type="submit" value="login" />
</form>
<%- include("./include/footer.ejs") %>
